{{ define "content" }}

<h2 class="mb-4">Daftar Transaksi</h2>

<a href="/transactions/new" class="btn btn-primary mb-3"><i class="fa fa-plus"></i> Data Baru</a>

<!-- Form pencarian -->
<form action="/transactions/search" method="GET">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="MingguKe">Minggu Ke</label>
            <input type="text" name="MingguKe" class="form-control" placeholder="Minggu Ke">
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary mt-4">Cari</button>
        </div>
    </div>
</form>


{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>Nama</th>
                    <th>Tanggal Transaksi</th>
                    <th>Keterangan</th>
                    <th>Minggu Ke</th>
                    <th>Jumlah Masuk</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .transactions }}
                <tr>
                    <td>{{ .Nama }}</td>
                    <td>{{ .TanggalTransaksi }}</td>
                    <td>{{ .Keterangan }}</td>
                    <td>{{ .MingguKe }}</td>
                    <td>{{ .FormatIDR }}</td>
                    <td>
                        <a href="/transactions/edit/{{ .ID }}" class="action-link">
                            <i class="fa fa-edit"></i> 
                        </a>
                        <td>
                            <form method="POST" action="/transactions/delete/{{ .ID }}" onsubmit="return confirm('Apakah Anda yakin ingin menghapus transaksi ini?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete-button">
                                    <i class="fa fa-trash"></i> 
                                </button>
                            </form>
                        </td>
                    </td>                    
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}
